@{
    ViewBag.Title = "Welcome to Twilio Jumpstart!";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title> 

    <!-- A little CSS to make our page prettier -->
    <link rel="stylesheet" href="@Url.Content("~/Content/app.css")"/>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon.css")">

    <!-- Third Party JavaScript Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
</head>
<body>
    <!-- A simple UI to test our Twilio back end -->
    <div id="content">
        <img id="logo" src="@Url.Content("~/Content/img/twilio.png")" alt="Twilio: Cloud Communications"/>

        <!-- A phone number to use for these simple tests -->
        <input id="number" type="text" placeholder="Enter your mobile phone number" autofocus="true" value=""/>

        <!-- Exercise various pieces of Twilio functionality -->
        <button id="text">Send Me a Text</button>
        <button id="call">Call My Phone</button>
        <button id="voip">Outbound Call from My Browser</button>
    </div>

    <!-- include our application logic -->
    <script src="@Url.Content("~/Scripts/app.js")"></script>
</body>
</html